body {
    background-color: black;
    color:white;
}
.navBar {
    overflow: hidden;
    background-color: rgb(174, 8, 8);
    height:50px;
    padding: 5px;
    display:flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}
.navBar li {
    list-style: none;
    float: left;
}
.navBar li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-top: 5px;
    font-size: 20px;
}

:root {
    --main: darkred;
    --mainHover: rgb(177, 66, 66); 
  }
  body{
      background-image: url('../images/empty-theater.jpg');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
      color:white;
  }
  
  .navBar {
    overflow: hidden;
    background-color: var(--main);
    height:50px;
    padding: 5px;
    display:flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
  }
  .navBar li {
    list-style: none;
    float: left;
  }
  .navBar li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .center-flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    h3, p {
      padding: 20px, 150px;
      border-radius: 2px;
      border-color: darkred;
      background-color: black;
      color: white;
      text-align: center;
    }

    h3 {
      font-size: 35px;
      padding-top: 15px;
    }

    p {
      font-size: 25px;
    }
  


    @media screen and (max-width: 768px) {
      .navBar li a {
          font-size: 16px; /* Adjust font size for tablets and phones */
      }}