:root {
  --main: darkred;
  --mainHover: rgb(177, 66, 66); 
}
body{
    background-image: url('../images/empty-theater.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color:rgb(0, 0, 0);
}

.navBar {
  overflow: hidden;
  background-color: var(--main);
  height:50px;
  padding: 5px;
  display:flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
}
.navBar li {
  list-style: none;
  float: left;
}
.navBar li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-top: 5px;
  font-size: 20px;
  font-family:'Limelight', cursive;
}
#oh-button{
  font-family:'Limelight', cursive;
}
.P1{
  font-family:'Limelight', cursive;
}

.center-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

#username, #review{
    color: black
}

/* Style for the unselected stars */
.rating-star {
  color: #ccc; /* Default color for unselected stars */
  cursor: pointer;

}

/* Style for the selected stars (in yellow) */
.rating-star.starChecked {
  color: yellow; /* Yellow color for selected stars */
}


.starChecked {
  color: #FFD700;
}
.movie-form {
  text-align: center;
  margin-top: 1rem;
}
.movie-search {
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-family:'Limelight', cursive;
}

.search-btn {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family:'Limelight', cursive;
}

.search-btn:hover {
  background-color: var(--mainHover);
}



.submit-btn {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family:'Limelight', cursive;
}

.submit-btn:hover {
  background-color: var(--mainHover);
}

.wLater-btn {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.wLater-btn:hover {
  background-color: var(--mainHover);
}

.extended-textarea {
  height: 100px; 
}
#streaming-service {
  color: #000000;
width: 150px;
height: 30px;
}

@media screen and (max-width: 768px) {
  .navBar li a {
      font-size: 16px; /* Adjust font size for tablets and phones */
  }}