:root {
  --main: darkred;
  --mainHover: rgb(177, 66, 66); 
}
body{
    background-image: url('../images/empty-theater.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color:white;
}

.navBar {
  overflow: hidden;
  background-color: var(--main);
  height:50px;
  padding: 5px;
  display:flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
}
.navBar li {
  list-style: none;
  float: left;
}
.navBar li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin-top: 5px;
  font-size: 20px;
}

.center-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

#username, #review{
    color: black
}

.star {
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff; 
    cursor: pointer;
  }
  
.star:checked {
    color: #FFD700;
}
.movie-form {
  text-align: center;
  margin-top: 1rem;
}
.movie-search {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-btn {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: var(--mainHover);
}



.submit-btn {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--mainHover);
}

.wLater-btn {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.wLater-btn:hover {
  background-color: var(--mainHover);
}